.content {
  color: #000000;
}

.title {
  text-align: center;
  font-weight: normal;
  font-size: 2.5em;
}

.content .treeview ul {
  margin: 0;
  padding: 0 0 0 2em;
  list-style: none;
}

.content .treeview li {
  padding: .2em 0;
}

.content .treeview .icon-folder,
.content .treeview .icon-file {
  margin-right: .2em;
}

.content .treeview .icon-down,
.content .treeview .icon-right {
  margin-right: .1em;
  color: #7F7F7F;
}

.content .treeview .icon-folder {
  color: #007fff;
}

.content .treeview .icon-file {
  color: #cb0000;
}

a:hover {
  color: #ff0000;
  background-color: #FFFF99;
  font-weight: bold;
}

.activeNode {
  background-color: #FFFF99;
}
